/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

/* Roots Start */
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.reset {
  all: unset;
}
:root {
  /* Colors */
  --body-color: #e9e5d6;
  --sidebar-color: #fff;
  --primary-color: #464e2e;
  --primary-color-light: #acb992;
  --toggle-color: #ddd;
  --text-color: #747474;
  --icon-color: #000;
  --text-color-hover: #fff;
  --icon-color-hover: #fff;
  /* old-colors */
  --second-color-light: #f9efdb;
  --white-color: #e9e5d6;
  --dark-color: #464e2e;
  --brown-color: #362706;
  /* Tamaños */
  --header-height: 3rem;
  --nav-width: 6.8rem;
  --normal-font-size: 1rem;
  /* Transiciones */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --z-fixed: 10;
  /* bootstrap */
  --bs-body-color-rgb: #acb992;
}

html body {
  height: 100svh;
  background-color: var(--body-color);
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: var(--tran-04);
}
body.dark {
  --body-color: #343434;
  --sidebar-color: #616f39;
  --primary-color: #3e432e;
  --primary-color-light: #3e432e;
  --toggle-color: #d1d4c9;
  --text-color: #fff;
  --icon-color: #fff;
  --text-color-hover: #a7d129;
  --icon-color-hover: #a7d129;
  /* old-colors */
  --first-color: #3e432e;
  --second-color-light: #f9efdb;
  --white-color: #e9e5d6;
  --dark-color: #464e2e;
  --brown-color: #362706;
}
/* Roots End */

/* Scrollbar Start */
html body::-webkit-scrollbar {
  width: 0.3rem;
}

html body::-webkit-scrollbar-track {
  background: #1e1e24;
}

html body::-webkit-scrollbar-thumb {
  background: var(--second-color-light);
}

/* Scrollbar End */

/* Navbar Start */
/* Navbar End */

/* SideBar Start*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 5px 10px 14px 10px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
}
.sidebar.close {
  width: 88px;
}

/* CSS Reusable */
.sidebar .text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-color-light);
  border-radius: 12px;
}
.sidebar ul {
  padding: 0;
}
.sidebar li {
  height: 3.125rem;
  margin-top: 0.625rem;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}
.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.75rem;
  font-size: 20px;
  fill: var(--icon-color);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 0.375rem;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}
.header-text .name {
  font-weight: 700;
}
.header-text .option1 {
  margin-top: -0.125rem;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%) rotate(180deg);
  height: 1.5625rem;
  width: 1.5625rem;
  background: var(--brown-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 1.375rem;
  fill: var(--icon-color-hover);
  cursor: pointer;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

@media (max-width: 500px) {
  .sidebar.close {
    transform: translateX(-90%);
  }
}

body.dark .sidebar header .toggle {
  transform: rotate(180deg);
}
body.dark .sidebar.close header .toggle {
  transform: translateY(-50%);
}
.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 0.375rem;
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.375rem;
  background: var(--primary-color-light);
}
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: var(--tran-04);
}
.sidebar li a:hover {
  background: var(--primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--text-color-hover);
  fill: var(--icon-color-hover);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color-hover);
  fill: var(--icon-color-hover);
}

.sidebar .menu-bar {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-bar .mode {
  position: relative;
  border-radius: 0.375rem;
  background: var(--primary-color-light);
  border-radius: 0.375rem;
}
.menu-bar .mode .moon-sun {
  height: 3.125rem;
  width: 3.75rem;
  display: flex;
  align-items: center;
}
.menu-bar .mode .icon {
  position: absolute;
  transition: var(--tran-03);
}
.menu-bar .mode .icon.sun {
  opacity: 0;
}
body.dark .menu-bar .mode .icon.sun {
  opacity: 1;
}
body.dark .menu-bar .mode .icon.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 0.375rem;
  background: var(--primary-color-light);
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}
body.dark .switch::before {
  left: 1.5625rem;
}
/* Sidebar End */

/* Main Start */

.mainSection {
  height: 100svh;
  /* transform: translateY(20%); */
  z-index: 1;
}

.container {
  margin-top: 100px;
  /* background: red; */
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-01 {
  display: grid;
  flex: 1;
  flex-wrap: wrap;
  margin: 5%;
  padding: 20px 26px;
  border-radius: 0.375rem;
  background: var(--sidebar-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
  .card-01 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .groups {
    display: flex;
    flex-direction: row;
  }
  .cardGroup {
    width: 40% !important;
  }
}
.title {
  font-size: 25px;
  color: var(--text-color);
}

.card-01 .text {
  fill: var(--icon-color);
  color: var(--icon-color);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

.inputParticipants {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 0.375rem;
  color: #fff;
  background: var(--primary-color-light);
}
.range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.range .rangeGrupos {
  width: 60%;
}
.range .inputParticipants {
  width: 30%;
}
/* Range Teams Start */
.rangeGrupos {
  --webkit-appearance: none;
  appearance: none;
  width: 50%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}
.rangeGrupos::-webkit-slider-runnable-track {
  height: 15px;
  background: var(--toggle-color);
  border-radius: 16px;
}
.rangeGrupos::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}
.rangeGrupos::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
  box-shadow: -407px 0 0 400px var(--primary-color-light);
}
.rangeGrupos::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}
/* Range Teams End */
/* Button Generate Start*/
#button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background: var(--primary-color-light);
  backface-visibility: hidden;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.0625rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.875rem 1.125rem;
  text-align: left;
  text-decoration: none;
  /* transform: translateZ(0) scale(1); */
  transition: var(--tran-02);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:not(:disabled):hover {
  transform: scale(1.05);
}

.button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button:focus {
  outline: 0 solid transparent;
}

.button:focus:before {
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: var(--tran-02);
  user-select: none;
}

.button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button:focus:not(:focus-visible):before {
  border-width: 0;
}

.button:not(:disabled):active {
  transform: translateY(0.125rem);
}
/* Button Generate End*/
/* Groups Start */
.groups {
  display: flex;
  /* flex-wrap: nowrap; */
  flex: 1;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px 26px;
}
.card {
  transform: 0;
  width: 150px;
  position: static;
}
.cardGroup {
  border-radius: 0.375rem;
  height: 100%;
  width: calc(30%);
  border: lightgray solid 1px;
  overflow: auto;
}
.cardHeader {
  color: var(--text-color);
  padding: 10px;
  /* width: 100%; */
  background-color: var(--primary-color-light);
  border-bottom: lightgray solid 1px;
}
.listGroupItem {
  padding: 10px;
  background-color: var();
  color: var(--text-color);
  position: static;
}
/* Main End */

/* Footer Start */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: var(--dark-color);
  color: white;
  text-align: center;
  z-index: -1;
}

.footerLogo {
  position: absolute;
  margin-right: 3vh;
  right: 0;
}

.footerTitle {
  position: absolute;
  color: white;
  top: 4vh;
  margin-left: 15vh;
  left: 0;
}

.footerTitlePhone {
  display: none;
}

.link {
  position: relative;
  left: 28vh;
  text-decoration: none;
  color:#a7d129;
  top: 3.7vh;
  padding-right: 3.5vh;
  padding-left: 3.5vh;
  margin-right: 2.5vh;
  margin-left: 2.5vh;
  font-size: 1rem;
  background-color:#616f39;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (max-width: 820px) {
  .link {
    display: none;
  }

  .footerTitle {
    display: block;
    right: 20vh;
    bottom: 10vh;
  }

  .footerLogo {
    position: absolute;
    margin-right: 1vh;
    right: 0;
    top: 1vh;
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 390px) {
  .link {
    display: none;
  }

  .footerTitle {
    display: none;
  }

  .footerTitlePhone {
    position: absolute;
    display:block;
    color: white;
    top: 3.7vh;
    left: 4vh;
  }

  .footerLogo {
    position: absolute;
    margin-right: 1vh;
    right: 0;
    top: 0.5vh;
    width: 75px;
    height: 75px;
  }

}





/* Footer End */
